<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
            <a href="./../" class="brand h-8"><img
                    src="./../assets/images/logo.png" /></a>
        </div>
        <div class="site-header__middle">
            <nav class="nav">
                <a class="nav__toggle toggle-menu" aria-expanded="false"
                    href="javascript:;">
                    <i></i>
                    <i></i>
                    <i></i>
                </a>
                <ul class="nav__wrapper">
                    <li class="nav__item"><a
                            href="./../">Home</a></li>
                    <li class="nav__item"><a href="./../about-us/">About
                            Us</a></li>
                    <li class="nav__item"><a href="#">Products</a></li>
                    <li class="nav__item"><a href="#">Gallary</a></li>
                    <li class="nav__item"><a
                            href="./../contact-us/">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="site-header__end">
            <a target="_blank"
                href="https://www.facebook.com/wellgreen.pillow"><i
                    class="fa fa-facebook me-2 text-green fs-5"
                    aria-hidden="true"></i></a>
            <a target="_blank"
                href="https://www.instagram.com/wellgreen_pillow_pvt_ltd"><i
                    class="fa fa-instagram text-green fs-5"
                    aria-hidden="true"></i></a>
        </div>
    </div>
</header>