@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: TTCommonsMedium;
  src: url('./../fonts/TTCommonsMedium.otf');
}

@font-face {
  font-family: ChampagneLimousines;
  src: url('./../fonts/ChampagneLimousines.ttf');
}

@font-face {
  font-family: casolfch;
  src: url('./../fonts/casolfch.ttf');
}

.carousel .carousel-indicators button {
  width: 12px;
 height: 12px;
 border-radius: 100%;
 
}

.carousel-indicators li {
  width: 1rem;
  height: 1rem;
  border: 1px solid;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #80c700;
  --shadow: rgba(153, 41, 41, 0.35) 0px 5px 15px;
}

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.text-green {
  color: #80c700;
}

.text-blue {
  color: #216cb3;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
  font-weight: bold;
  font-size: 20px; 
}

.site-header {
  padding: 10px 0;
  position: relative;
  background-color: #ffffff; 
  border-bottom: 4px solid #80c700  ;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 660px) {
    .site-header__wrapper {
      padding-top: 0;
      padding-bottom: 0; } 
    
    }
@media (max-width: 659px) {
  .site-header__end {
    padding-right: 4rem; } }

@media (min-width: 660px) {
  .nav__wrapper {
    display: flex; } }

@media (max-width: 659px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index:99;
    background-color: #ffffff;
    /* visibility: hidden; */
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
  }

    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); 
    } 
  }

.nav__item a {
  display: block;
  padding: 1rem 1rem; 
  font-size: 20px;
  color: #7e7e7e;
}

  .nav__item a:hover {
    color: #216cb3;
  }

.toggle-menu {
  display: none; 
}
  @media (max-width: 659px) {

    .nav__item {
      border-bottom: 1px solid #cfcfcf;
    }

    .toggle-menu {
      display: block;
      position: absolute;
      right: 10px;
      top: 25px; 
    } 
    
      /* navbar toggle  */
      .toggle-menu {
        width: 40px;
        height: 40px;
        float: right;
        z-index: 1000;
      }
      
      .toggle-menu i {
        position: absolute;
        display: block;
        height: 2px;
        background: #80c700;
        width: 22px;
        left: 0px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
      
      .toggle-menu i:nth-child(1) {
        top: 16px;
      }
      
      .toggle-menu i:nth-child(2) {
        top: 24px;
      }
      
      .toggle-menu i:nth-child(3) {
        top: 32px;
      }
      
      .toggle-menu.active i:nth-child(1) {
        top: 25px;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }
      
      .toggle-menu.active i:nth-child(2) {
        background: transparent;
      }
      
      .toggle-menu.active i:nth-child(3) {
        top: 25px;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
      }
    }

/* footer */
.footer-section {
  background: #ffffff;
  position: relative;
  border-top: 4px solid #80c700;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #80c700;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: flow-root;
}
.cta-text h4 {
  font-family: casolfch;
  color: #80c700;
  font-size: 22px;
  margin-bottom: 7px;
}
.cta-text span {
  color: #757575;
  font-size: 19px;
  line-height: 25px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 17px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #80c700;
  display: block;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: casolfch;
  letter-spacing: 1px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  background-color: #80c700;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  font-family: casolfch;
  color: #80c700;
  font-size: 22px;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #80c700;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #80c700;
}
.footer-widget ul li a {
  font-size: 19px;
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #ffffff;
  border: 1px solid #80c700;
  color: black;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #80c700;
    padding: 13px 20px;
    border: 1px solid #80c700;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #ffffff;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #80c700;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #80c700;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

@media (max-width: 991px) {
  .footer-social-icon {
    margin-bottom: 15px;
  } }

  body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

}

.slider-container{
  border: 1px solid #555;
  margin-top:15px;
 
}

.main-carousel {
  /* background: #EEE; */

}

.slider-section{
  overflow: hidden;
  display:block;
  /*max-width: 880px;*/
  margin: auto;
  padding-top:15px;
  padding-bottom:40px;
}

.carousel-cover{
}

.carousel-cell {
  width: 55%;
  height: auto;
  margin-right: 30px;
  counter-increment: carousel-cell;
}

@media only screen and (max-width: 960px) {
 .carousel-cell {
  width: 100%; /* full width */
  }
}

.carousel-cell.is-selected .carousel-cover {

}

.carousel-content {
  background:black;
  box-sizing: border-box;
  display: inline-block;
  color:white;
} 
.carousel-content h5 {
  text-align:center;
  text-transform:uppercase;
}

.carousel-cover img{
  box-sizing: border-box;
  width:100%;
  height:auto;
  padding:50px;
}

/*
.carousel-cell:before {
display: block;
text-align: center;
content: counter(carousel-cell);
line-height: 200px;
font-size: 80px;
color: white;
}
*/

h1,h2,h3,h4,h5{
  color:white;
}

.footer-div {
  padding-bottom: 15px;
}

section.clients.section {
  background: #ffffff;
  border: none;
  outline: none;
  padding: 40px 0;
}

section.clients.section img.img-fluid {
  transition: transform .2s; 
  padding: 10px;
}

section.clients.section img.img-fluid:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h2.title-h2 {
  font-family: casolfch;
  color: #80c700;
  font-size: 40px;
  padding: 20px 0 15px 0;
  word-spacing: 7px;;
  letter-spacing: 3px;
}


h5.sub-tittle {
  font-family: TTCommonsMedium;
  color: #757575;
  font-size:25px;
  padding-bottom: 20px;
}

.main-title-page {
  padding: 50px 0 !important;
  font-size: 50px !important;
}

@media (max-width: 768px) {
  h2.title-h2 {
    font-size: 30px;
  }
}
@media (max-width: 660px) {
  h2.title-h2 {
    letter-spacing: 1px;
    font-size: 20px;
    padding: 20px 0px 13px;
    word-spacing: 0px;
    text-align: center;
  }
  
  h5.sub-tittle {
    text-align: center;
    font-size: 17px;
  }

  .main-title-page {
    padding: 50px 0 30px 0 !important;
    font-size: 40px !important;
  }
}

span, p, a {
  font-family: TTCommonsMedium;
}

.feature_part .single_feature_part h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
  color: white;
}

.feature_part .single_feature_part {
  text-align: center;
  border: 1px solid #80c700;
  background: #80c700;
  padding: 35px;
  margin: 50px 0;
  font-family: TTCommonsMedium;
}
.feature_part .single_feature_part:hover {
  background: #0067d5;
  border: 1px solid #0067d5;
}

.section_padding {
  padding: 0px;
  background: #f3f9f6 ;
}

.feature_part .single_feature_part img {
  max-width: 60px;
  min-height: 50px;
  margin-bottom: 15px;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}


@media only screen and (max-width: 960px) {
  .feature_part .single_feature_part {
    margin: 10px 0;
  }

  .section_padding  {
    padding: 20px 0;
  }
}


/*--------------------------------------------------------------
# about-us Section
--------------------------------------------------------------*/
.about-us .about-us-item {
  color: color-mix(in srgb, #212529, transparent 20%);
}

.about-us .about-us-item+.about-us-item {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .about-us .about-us-item+.about-us-item {
    margin-top: 40px;
  }
}

.about-us .about-us-item .btn-get-started {
  background-color: #80c700;
  color: #ffffff;
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
  margin-top: 15px;
}

.about-us .about-us-item .btn-get-started:hover {
  background-color: color-mix(in srgb, #216cb3, transparent 10%);
}

.about-us .about-us-item img {
  border: 6px solid #ffffff;
  box-shadow: 0 15px 30px -10px color-mix(in srgb, #212529, transparent 75%);
}

.about-us .about-us-item .about-us-img-bg {
  position: relative;
  min-height: 500px;
}

@media (max-width: 640px) {
  .about-us .about-us-item .about-us-img-bg {
    min-height: 300px;
  }
}

.about-us .about-us-item .about-us-img-bg img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us .about-us-item .image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.about-us .about-us-item .image-stack .stack-back {
  grid-column: 4/-1;
  grid-row: 1;
  width: 100%;
  z-index: 1;
}

.about-us .about-us-item .image-stack .stack-front {
  grid-row: 1;
  grid-column: 1/span 8;
  margin-top: 20%;
  width: 100%;
  z-index: 2;
}

section#about-us {
  padding: 40px 0;
  background: #f3f9f6;
}

.about-para {
  color: #757575;
  font-size: 19px;
  line-height: 25px;
  text-align: justify;
}

.row.gy-4.align-items-center.about-us-item {
  margin-top: 5px;
}

.title-number {
  color: #81c70086;
  font-size: 40px;
}

.card {
  border: none;
  background: #f3f9f6;
  padding-left: 0 !important;
}

@media (min-width: 992px) {

  .card:first-child {
    padding-right: 0 !important;
  }
  
  .content-row .card:not(:nth-child(3n + 1)) .card-inner-block {
    border-left: 1px solid #80c700; 
    padding: 0 0 0 40px ;
  }
  
    .content-row .card:nth-child(2) .card-inner-block {
      border-left: 0px solid #80c700; 
      padding: 0 0 0 40px;
    }
}

.title-second {
  color: #80c700;
  text-align: left;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem;
}

.contact-para {
  font-style: normal;
  color: #767676;
  font-size: 1.2rem;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
  padding-bottom: 10px;
}

.contact-para span {
  display: flow-root;
}

.contact-para i {
  width: 20px;
  font-size: 20px;
  margin-top: 5px;
}

.contact-para i.fa-map-marker {
  font-size: 25px;  
}

.contact-us {
  padding-top: 50px;
  background: #f3f9f6;
}

.footer-social-icon i:hover {
  background-color: #216cb3;
}

.site-header__end a i:hover {
  color: #216cb3;
}


#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus {
  border-color: #0067d5;
}

#contact .php-email-form input {
  padding: 10px 15px;
}

#contact .php-email-form textarea {
  padding: 12px 15px;
}

#contact .php-email-form button[type=submit] {
  background: #0067d5;
  border: 0;
  border-radius: 20px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.3s;
  font-family: TTCommonsMedium;
  letter-spacing: 0px;
  font-size: 20px;
}

#contact .php-email-form button[type=submit]:hover {
  background: #0067d5;
  cursor: pointer;
}

.card-box-head-office {
  background-color: #80c700;
  color: white;
}

.card-box-head-office:hover {
  background-color: #0067d5;
  color: white;
}

.card-inner-block:hover .title-number {
  color: #0067d586 !important;
}
.card-inner-block:hover .title-second {
  color: #0067d5 !important;

}
.card-title-head-office {
  font-size: 2rem;
}

.card-box-head-office  .contact-para {
  color: white;
}

@media (max-width: 584px) {
  .card {
    padding: 24px !important;
  }
}

.breadcrumb-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 104px 0 110px;
  position: relative;
  width:100%;
}
.breadcrumb-image::before {
  background: rgba(0, 0, 0, 0.80) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.breadcrumb-image h1 {
  color: #ffffff;
  font-size: 33px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  text-transform: uppercase;
  font-family: casolfch;  
}
.breadcrumbs_path {
  color: #fff;
  margin-top: 8px;
  position: relative;
  z-index: 9;
  font-family: TTCommonsMedium;
}
.breadcrumbs_path > a {
  color: #fff;
  transition: all 0.3s ease 0s;
  font-family: TTCommonsMedium;
}


.history-div-section {
  padding: 7rem 0;
}

.section-title {
  color: #2f2f2f;
  font-size: 2rem;
}

.history-div-section .img-wrap:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url(./../images/dots-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-31%, -35%);
  -ms-transform: translate(-31%, -35%);
  transform: translate(-31%, -35%);
  z-index: -1;
}

.history-div-section .img-wrap img {
  border-radius: 20px;
}

.history-div .icon:before {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  background: rgba(59, 93, 80, 0.2);
  border-radius: 50%;
  right: -8px;
  bottom: 0;
}

.history-div .icon {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.history-div ul li::before {
  content: "✔";
  margin-right: 0.5rem;
}

.history-div ul {
  list-style: none;
}

.history-div li {
  position: relative;
}

.history-div li {
  font-family: TTCommonsMedium;
}


@media (max-width: 992px) {
  .history-div-section .img-wrap:before { 
    display: none;
  }
  
  .history-div-section {
    padding: 0 ;
  }
}

.benefit-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .benefit-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 0;
  color: black;
  font-family: TTCommonsMedium;
  font-size: 20px;
}

dl > * {
  border-radius: 5px;
  border: 1px solid #80c70086;
  padding: 1rem;
}

dt:nth-of-type(2n):hover,
dt:nth-of-type(2n):hover + dd {
    background:#216cb3;
    color: white;
}

dt:hover,
dt:hover + dd {
    background:#80c700;
    color: white;
}

dl > :nth-of-type(2n) {
  border-radius: 5px;
  border: 1px solid #216cb386;
}

dt {
  margin-right: 5px;
  font-weight: 700;
  font-size: 1.3rem;
}

dd {
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
}